# Configuración del Servidor
PORT=3000

# Base de Datos (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.oqsgvmpvnluppzofjnjf.supabase.co:5432/postgres


# Seguridad
JWT_SECRET=una_clave_secreta_and_larga_para_produccion
